<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
        <globalization enableClientBasedCulture="true" />
        <authentication mode="Forms" />
        <compilation defaultLanguage="c#" />
    </system.web>
    <system.webServer>
        <directoryBrowse enabled="true" />
    </system.webServer>
</configuration>
